.video-card {
  border: 7px solid;
  padding: 10px;
  width: 300px;
  height: 292px;
  top: 2.58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  
}

div .video-card{
  height: 250px;
}


.video-card a {
  display: block;
  text-decoration: none;
}

.video-card img {
  max-width: 400px;
  border-radius: 8px;
}

.video-card-actions {
  display: flex;
  justify-content: space-around;
  width: 287px;
  
  padding-top: -3%;
  background-color: black;
}

div .video-card-actions{
  height: 25px;
}

.video-card-actions button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.video-card-actions button:hover {
  text-decoration: underline;
}


.img-card{
  width: 280px;
  height: 200px;
  padding: 0%;
  margin: 0%;
}


.video-card-actions .edit-button {
  color: white;
}

.video-card-actions .delete-button {
  color: white;
}

.video-card-actions button:hover {
  opacity: 0.8;
}

.video-card-actions button .fa-icon {
  margin-right: 5px;
}


/* Media Query Mobile */
@media (max-width: 430px) {
  .video-card {
    width: 100%;
    height: auto;
    padding: 10%;
    padding-top: 1%;
  }

  .img-card {
    width: 350px;
    height: 208px;
  }

  .video-list-container {
    display: block;
    overflow-x: auto;
    
  }

  .scroll-button {
    display: none;
  }

  .video-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    gap: 5px;
  }

  .video-list::-webkit-scrollbar {
    height: 10px;
  }

  .video-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  .video-list::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .video-list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .video-card-actions{
    width: 364px;
  }

  contenedor-cards {
    margin-top: 0; 
  }

}