header {
    background-color: #262626;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
   }
  

  .header-logo{
    width: 168.45px;
    height: 40px;
  }


  .navegador{
    display: flex;
    justify-content: space-between;
    padding: 35px;
    margin: 0px;
  }

  .link-home{
    width: 150.13px;
    height: 54px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    display: flex;
    background-color: #262626;
    color: #FFFFFF;
    border: 4px solid white; /* Añade un borde para el efecto hover */

    }

/* Header.css */
.navegador ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navegador ul li {
  margin-right: 20px;
}

.navegador ul li a {
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Mantiene el color del texto según el estilo del sitio */
  padding: 15px 15px; /* Añade relleno para hacer el área clicable más grande */
  transition: all 0.3s ease; /* Añade una transición suave */
  box-shadow: 0px 5px 29px 0px rgba(70, 108, 190, 0.75)
}



 .link-home:hover {
  color: #2271D1; /* Color del texto al pasar el mouse */
  border-color: #2271D1; /* Color del borde al pasar el mouse */
}

.navegador ul li a.link-home {
  background-color: #262626; /* Fondo gris oscuro */
}


.navegador {
  position: relative; /* Necesario para que el pseudo-elemento se posicione correctamente */
  /* Otros estilos que necesites para el contenedor */
}

.navegador::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Ajusta esta altura según necesites */
  background-color: #2271D1; /* Color de la base */
  padding: 0;
  margin: 0;
}
